@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
  user-select: none;
}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  background: url("/images/illustration-woman-online-desktop.svg") no-repeat;
  background-position-x: -80px;
}

.image-container-mobile {
  display: none;
}

.image-container .hero {
  visibility: hidden;
}

.box {
  position: fixed;
  margin-left: -90px;
  margin-top: 100px;
  z-index: 1000;
}

.pattern {
  position: absolute;
  top: -300px;
  left: -575px;
  width: 500px;
  height: 500px;
}

.pattern-mobile {
  display: none;
}

.faq {
  padding: 5em 8em 5em 0;
}

.faq h1 {
  font-size: 2em;
  margin-bottom: 0.6em;
}

.accordion-container {
  height: 300px;
}

.accordion-header {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-header a {
  text-decoration: none;
  font-size: 14px;
  color: hsl(238, 29%, 16%);
}

.accordion-header a.bold {
  font-weight: 700;
}

.accordion-header a:hover {
  color: hsl(14, 88%, 65%);
}

.accordion-header img {
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

.accordion-header img.open {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.accordion-item {
  padding: 1em 0;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.accordion-item p {
  margin-top: 10px;
  line-height: 1.4;
  font-size: 12px;
  color: hsl(240, 6%, 50%);
  letter-spacing: 0.2px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.accordion-item p.hidden {
  margin: 0;
  max-height: 0;
}

.accordion-item p:not(.hidden) {
  max-height: 100px; /* Adjust as needed */
}

@media (max-width: 568px) {
  body {
    position: static;
  }
  .container {
    flex-direction: column;
    max-width: 85%;
    padding-bottom: 2em;
    overflow: visible;
  }

  .pattern {
    display: none;
  }

  .pattern-mobile {
    display: block;
  }

  .image-container {
    display: none;
  }

  .image-container-mobile {
    position: absolute;
    display: block;
    width: 75%;
    top: -110px;
  }

  .box {
    display: none;
  }

  .faq {
    padding: 0;
  }

  .faq h1 {
    text-align: center;
  }

  .accordion-container {
    width: 86%;
    margin: 0 auto;
  }

  .accordion-header {
    width: auto;
  }

  .accordion-item a {
    font-size: 13px;
    letter-spacing: 0px;
  }
}
